<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="pull requests">
    <h2>All Pull Requests</h2>

    <% if (pull_requests.length > 0) { %>
      <% pull_requests.forEach(pull_request => { %>
        <a class="single" href="/pull_requests/<%= pull_request._id %>">
          <h3 class="pull_request"><%= pull_request.createdAt %></h3>
          <p class="pull_request"><%= pull_request.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no pull requests to display at the moment...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>